@import "{}/imports/ui/stylesheets/mixins.less";

body {
  margin: 0;
  padding: 0;
}

#app {
  width: 100vw;
  height: 100vh;
}

.infoLogo {
  background: none !important;
  border: none !important;
  cursor: pointer !important;
}

.logo {
  width: 100px;
  padding: 20px;
  position: absolute;
}

.content {
  height: 100vh;
}

.preloader_content {
  .content;
  background: black !important;
}

.preloader_spinner {
  color: white !important;
}

.bgGIF {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.bgIMG {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: screen;
  -webkit-transition: background-image 1.5s ease-in-out;
  transition: background-image 1.5s ease-in-out;
}

.outterMoodButton {
  position: relative;
}

.moodButton {
  background: transparent;
  border: none;
  width: 100px !important;
  height: 100px !important;
  color: white !important;
  background-color: transparent !important;
  border-radius: 50%;
  &:hover {
    background-color: white !important;
    color: black !important;
  }
  &:active {
    background-color: white !important;
    color: black !important;
  }
}

.moodButtonSpinner {
  .moodButton;
  left: 0;
  position: absolute;
}

.voteConfirm {
  position: absolute;
  bottom: 20px;
}

.joyful {
  color: #fff200 !important;
}
.powerful {
  color: #ff7f18 !important;
}
.peaceful {
  color: #acf04f !important;
}
.scared {
  color: #32528b !important;
}
.sad {
  color: #8871a7 !important;
}
.mad {
  color: #ff0000 !important;
}
